# ========================
# 1. Java & 大数据工程忽略
# ========================
**/target/
*.class

# 忽略你新建的 jars 文件夹里的大数据胖包
movie-rec-backend/jars/*.jar

# ========================
# 2. 前端工程忽略 (Vue)
# ========================
movie-front/node_modules/
movie-front/dist/

# ========================
# 3. 日志文件忽略
# ========================
logs/
*.log

# ========================
# 4. IDEA 配置文件忽略
# ========================
.idea/
*.iml

# ========================
# 5. 操作系统产生的文件
# ========================
.DS_Store
Thumbs.db